@model HouseBills.Domain.Models.Bill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimePay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimePay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockEnergy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockEnergy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColdWater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColdWater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeatingWater)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeatingWater)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RenovationFund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RenovationFund)
        </dd>*@
      
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
