@model IEnumerable<HouseBills.Domain.Models.Bill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAppId)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.DateTimePay)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Sum)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.BlockEnergy)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Heating)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ColdWater)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.HeatingWater)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.RenovationFund)
            </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAppId)
                </td>

                @* <td>
            @Html.DisplayFor(modelItem => item.DateTimePay)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.BlockEnergy)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Heating)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ColdWater)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.HeatingWater)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.RenovationFund)
            </td>*@

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
